* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  min-height: 100vh;
  background: url("https://source.unsplash.com/1600x900/?landscape");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(0.5rem);
  min-width: 50%;
  max-width: 90%;
  margin: auto;
  border-radius: 25px;
  padding: 3rem 4rem;
}
.heading {
  line-height: 3rem;
}
.button {
  font-size: 1.1rem;
  margin-top: 4rem;
  padding: 1rem 3rem;
  outline: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.5);
}
