* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  min-height: 100vh;
  background: url('https://source.unsplash.com/1600x900/?landscape');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
}
.app {
  position: relative;
}
.card {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(0.5rem);
  min-width: 50%;
  max-width: 90%;
  margin: auto;
  border-radius: 25px;
  padding: 4rem 2rem;
  z-index: 1;
}
.heading {
  line-height: 4rem;
  font-size: 2.5rem;
  display: inline-block;
}
.button {
  font-size: 1.1rem;
  margin-top: 4rem;
  padding: 1rem 3rem;
  outline: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.5);
}
.slip-id {
  position: absolute;
  font-size: 20rem;
  font-weight: 900;
  color: #000;
  opacity: 0.8;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card p {
  margin-top: 2rem;
}
@media (max-width: 768px) {
  .heading {
    font-size: 2rem;
    line-height: 3rem;
  }
  .slip-id {
    font-size: 13rem;
  }
}
